/*Made With Love By Mohamad Mahdi Tasha In Neovim*/

/*Linked Fonts*/
@import '../fonts/font.css';

/*Variables*/
:root {
	--green: #55E6A5;
	--yellow: #FAB228;
	--orange: #EA552A;
	--black: #181818;
	--light: #F3F4F6;
}

/*Css Reset*/
img {pointer-events: none;}
a {text-decoration: none;}
button {cursor: pointer;}
ul, ol, li {margin: 0 !important;}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	outline: none;
}

body {
	font-family: 'Work Sans', sans-serif !important;
	font-size: 15px;
	font-weight: 500;
}

/*Styles*/
.my-fw-regular {font-weight: 400;}
.my-fw-medium {font-weight: 500;}
.my-fw-bold {font-weight: 700;}
.my-fw-extra-bold {font-weight: 800;}
